/* 
universal selector tells 
the browser to account for any border and padding in the values you specify for
an element's width and height. 
*/
*{
  box-sizing: border-box;
}

/* make all body text center */
body{
  text-align: center;
  font-size: large;
}

/* form layout */
#sign_up_form{
  max-width: 1000px;
  width: 85%;
  margin: auto;
  padding: 1rem;
  height: 100%;
}

/* 
form input layout not include agree section 
and bottom group section
*/

input:not(.agree,.btn_form){
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 10px;
  height: 3rem;
  border-radius: 5px;
  border: .6px solid grey;
  font-size: 1.3rem;
  box-shadow: inset .5px 0.5px 3px lightgray;
}

/* 
form input layout not include agree section and bottom group section 
when focus
*/
input:not(.agree,.btn_form):focus{
  border: solid 1px #0F90E0;
  outline: none;
  box-shadow: 2px 1px 8px #0F90E0;
  opacity: .5;
}


/* agree and term style */
.spanRegister{
  background-color: #0F90E0;
  padding: 0 .5rem;
  border-radius: 3px;
  color: white;
}

.term{
  color: #0F90E0;
}

/* form buttons style */
.btn_form{
  border: none;
  outline: none;
  width: 90%;
  margin-bottom: 1rem;
  height: 3rem;
  border-radius: 5px;
  font-size: 1.4rem;
  cursor: pointer;
}

#btn_register{
  background: #0F90E0;
  color: white;
}

#btn_signin{
  background: #1AC922;
  color: white;
}

/* Get away all the underline of anchor tags */
p a{
  text-decoration: none;
}


/* responsive layout using media */
@media (min-width : 768px){
  #first_name,
  #last_name{
    width: 45%;
  }


  #last_name{
    margin-left: auto;
  }

  .nameWrapper{
    width: 100%;
    display: flex;
  }
}

@media (min-width:980px){
  #btn_register,
  #btn_signin{
    width: 45%;
  }

  #btn_signin{
    margin-left: auto;
  }
  #btnWrapper{
    display: flex;
  }
}